<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="../../static/styles/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../static/styles/css/styles.css">
</head>
<body class="container-i">
    <header id="part-1">
        <nav>
            <a href="../user/perfil.html">
                <img src="../../static/img/icon/usuario-de-perfil.png" alt="icon-perfil">
            </a>
        </nav>
        <nav>
            <textarea name="search" id="search" placeholder="Buscar"></textarea>
        </nav>
        <nav>
            <a href="../user/notifications/notification.html">
                <span class="material-symbols-outlined">notifications_unread</span>
            </a>
        </nav>
    </header>
    <article id="part-2" class="scroll-container">
        <div class="post">
            <div id="post-head">
                <img src="../../static/img/icon/usuario-de-perfil.png" alt="icon-perfil">
                <h3>CobbyS_S</h3>
                <p>Hace 7 min</p>
            </div>
            <div id="post-body">
                <img src="../../static/img/posts/advanced_animation.116.png" alt="">
            </div>
            <div id="post-foot">
                <span class="material-symbols-outlined">favorite</span>
                <span class="material-symbols-outlined">send</span>
                <span class="material-symbols-outlined">chat</span>
                <p>Comentarios</p>
            </div>
        </div>
        <div class="post">
            <div id="post-head">
                <img src="../../static/img/icon/usuario-de-perfil.png" alt="icon-perfil">
                <h3>CobbyS_S</h3>
                <p>Hace 7 min</p>
            </div>
            <div id="post-body">
                <img src="../../static/img/posts/advanced_animation.116.png" alt="">
            </div>
            <div id="post-foot">
                <span class="material-symbols-outlined">favorite</span>
                <span class="material-symbols-outlined">send</span>
                <span class="material-symbols-outlined">chat</span>
                <p>Comentarios</p>
            </div>
        </div>
        <div class="post">
            <div id="post-head">
                <img src="../../static/img/icon/usuario-de-perfil.png" alt="icon-perfil">
                <h3>CobbyS_S</h3>
                <p>Hace 7 min</p>
            </div>
            <div id="post-body">
                <img src="../../static/img/posts/advanced_animation.116.png" alt="">
            </div>
            <div id="post-foot">
                <span class="material-symbols-outlined">favorite</span>
                <span class="material-symbols-outlined">send</span>
                <span class="material-symbols-outlined">chat</span>
                <p>Comentarios</p>
            </div>
        </div>
    </article>

    <section id="part-3">
        <div class="foot-left">
            <a href="../inicio/inicio.html">
                <span class="material-symbols-outlined">home</span>
            </a>
            <span class="material-symbols-outlined">groups</span>
        </div>
        <div class="foot-center">
            <p>+</p>
        </div>
        <div class="foot-right">
            <a href="../user/msj/message/messages.html">
                <span class="material-symbols-outlined">sms</span>
            </a>
            <span class="material-symbols-outlined">menu</span>
        </div>
    </section>
</body>

<script src="../../../static/styles/js/bootstrap.js"></script>

</html>