<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Connect</title>
    <link rel="stylesheet" href="../../../static/styles/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/styles/css/styles.css">
</head>
<body class="container_2">
    <header>
        <nav class="border-radius">
            <a href="../../../index.html"><</a>
        </nav>
        <nav>
            <h2>Registro</h2>
        </nav>
    </header>
    
    <section id="form-register">
        <div id="form-login-register">
            <h3>Nombre de usuario:</h3>
            <textarea name="form-register" id="username"></textarea>
            <h3>Correo electronico:</h3>
            <textarea name="form-register" id="email"></textarea>
            <h3>Contraseña:</h3>
            <textarea name="form-register" id="password"></textarea>
            <h3>Repita la contraseña:</h3>
            <textarea name="form-register" id="repeat-password"></textarea>
            <button id="next-register">Continuar</button>
            <button id="cancel"><a href="../../../index.html">Cancelar</a></button>
        </div>
    </section>
</body>

<script src="../../../static/styles/js/bootstrap.js"></script>

</html>