<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="../../../static/styles/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../../static/styles/css/styles.css">
</head>
<body class="container-i">
    <header id="noti-head">
        <div class="head-noti-1">
            <a href="../../inicio/inicio.html">
                <span class="material-symbols-outlined">keyboard_backspace</span>
            </a>
            <h2>Notificaciones</h2>
        </div>
        <div class="header-noti-2">
            <button class="left-button">Todas</button>
            <button class="right-button">Seguimientos</button>
        </div>
    </header>

    <article id="notifications">
        <div class="scroll-container">
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        Te menciono en un comentario
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
            <div id="noti-generic">
                <div class="sup-noti">
                    <img src="../../../static/img/icon/usuario-de-perfil.png" alt="">
                </div>
                <div class="medium-noti">
                    <h3>
                        Manuchito:
                    </h3>
                    <p>
                        A comenzado a seguirte
                    </p>
                </div>
                <div class="low-noti">
                    <div class="spot-noti"></div>
                    <p>Hace 2 horas</p>
                </div>
            </div>
        </div>
    </article>

    <section id="part-3" class="foot-noti">
        <div class="foot-left">
            <a href="../../inicio/inicio.html">
                <span class="material-symbols-outlined">home</span>
            </a>
            <span class="material-symbols-outlined">groups</span>
        </div>
        <div class="foot-center">
            <p>+</p>
        </div>
        <div class="foot-right">
            <a href="../msj/message/messages.html">
                <span class="material-symbols-outlined">sms</span>
            </a>
            <span class="material-symbols-outlined">menu</span>
        </div>
    </section>
</body>

<script src="../../../static/styles/js/bootstrap.js"></script>

</html>