<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../../static/styles/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../static/styles/css/styles.css">
</head>
<body class="container-p">
    <section id="medium-2">
        <div class="sup-info">
            <a href="../inicio/inicio.html">
                <span class="material-symbols-outlined">keyboard_backspace</span>
            </a>
            <img src="../../static/img/icon/usuario-de-perfil.png" alt="user-photo">
        </div>
        <div class="top-info">
            <h3>ZekeTg</h3>
            <span class="material-symbols-outlined">edit_square</span>
        </div>
        <div class="medium-info">
            <h4>Publicaciones</h4>
            <h4>Seguidores</h4>
            <h4>Seguidos</h4>
            <p>4</p>
            <p>500</p>
            <p>300</p>
        </div>
        <div class="low-info">
            <h3>Sobre Mi</h3>
            <p>
                Hola me llamo Zeke Tg, tengo 21 años, soy guardavidas y estudio Diseño Industrial.
            </p>
        </div>
    </section>
    <article id="low-3">
        <div id="scroll-container" class="post-user">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
            <img src="../../static/img/posts/advanced_animation.116.png" alt="post">
        </div>
    </article>
    <article id="part-3" class="foot-perfil">
        <div class="foot-left">
            <a href="../inicio/inicio.html">
                <span class="material-symbols-outlined">home</span>
            </a>
            <span class="material-symbols-outlined">groups</span>
        </div>
        <div class="foot-center">
            <p>+</p>
        </div>
        <div class="foot-right">
            <a href="../user/msj/message/messages.html">
                <span class="material-symbols-outlined">sms</span>
            </a>
            <span class="material-symbols-outlined">menu</span>
        </div>
    </article>
</body>

<script src="../../static/styles/js/bootstrap.js"></script>

</html>